Source: che-nginx
Package: che-nginx
Priority: optional
Version: 1.22.0
Section: web
Maintainer: ATSiCorporation.
Homepage: https://chepanel.aldinara.co.id
Architecture: amd64
Description: ChePanel Nginx Web Server
